<div class="container">
    <div class="first-column">
        <div class="first-row">
        </div>
        <div class="second-row">
            <div class="rotated-text">
                <div>
                    Wedding
                </div>
            </div>
        </div>
        <div class="third-row">
        </div>
    </div>
    <div class="second-column">
        <div class="image">
            <img src="../assets/IMG_2543.jpg">
        </div>
        <p class="title">{{'title' | translate }}</p>
        <p class="sub-title">{{'subTitle' | translate }}</p>
        <div class="text">
            <p>{{'content' | translate }}</p>
            <p>{{'end' | translate }}</p>
        </div>
    </div>
</div>