<div class="container">
    <div class="first-column">
        <div class="first-row">
            <div class="rotated-text">
                <div>
                    Wedding
                </div>
            </div>
        </div>
        <div class="second-row">
        </div>
    </div>
    <div class="second-column">
        <img src="../assets/IMG_2543.jpg">
        <p class="title">Fany et Jeremy</p>
        <p class="sub-title">8 juin 2024 à Montréal</p>
        <div class="text">
            <p>C'est avec une joie immense que nous vous partageons la nouvelle de notre décision de célébrer notre
                amour en nous mariant à Montréal, après presque deux ans passés outre-Atlantique. Nous souhaitons chérir
                ce moment en toute intimité et simplicité. Une célébration plus grande entourée de nos familles et
                ami(e)s est prévue dans le futur. Même à distance et malgré notre choix de célébrer en toute intimité,
                sachez que vous occupez une place spéciale dans nos cœurs.
            </p>
            <p>Merci de faire partie de nos vies.</p>
        </div>
    </div>
</div>

<!-- <img src="../assets/Bleu Beige Élégant Floral Peint Faire part de Naissance.png" alt=""> -->