.envelope-wrapper {
    background: #f5edd1;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);

    .envelope {
        position: relative;
        width: 300px;
        height: 230px;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            z-index: 2;
            border-top: 130px solid #ecdeb8;
            border-right: 150px solid transparent;
            border-left: 150px solid transparent;
            transform-origin: top;
            transition: all 0.5s ease-in-out 0.7s;
        }

        &.envelope::after {
            content: "";
            position: absolute;
            z-index: 2;
            width: 0px;
            height: 0px;
            border-top: 130px solid transparent;
            border-right: 150px solid #e6cfa7;
            border-bottom: 100px solid #e6cfa7;
            border-left: 150px solid #e6cfa7;
        }
    }

    .heart {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 15px;
        height: 15px;
        background: rgb(252, 8, 231);
        z-index: 4;
        transform: translate(-50%, -20%) rotate(45deg);
        transition: transform 0.5s ease-in-out 1s;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
        cursor: pointer;

        &:before,
        &:after {
            content: "";
            position: absolute;
            width: 15px;
            height: 15px;
            background-color: rgb(252, 8, 231);
            border-radius: 50%;
        }

        &:before {
            top: -7.5px;
        }

        &::after {
            right: 7.5px;
        }
    }

    .form {
        position: absolute;
        top: 58%;
        left: 50%;
        z-index: 4;
        transform: translate(-50%, -50%);

        input {
            outline: none;
            padding: .5em;
            border: none;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color: #444;
            font-size: 14px;
        }
    }
}

.flap {
    .envelope {
        &:before {
            transform: rotateX(180deg);
            z-index: 0;
        }

        .heart {
            transform: rotate(90deg);
            transition-delay: 0.4s;
        }
    }
}